<h1>Edit Vehicle</h1>
    <form action="/vehicles/<%=@vehicle.id%>" method="post">
        <input type="hidden" name="_method" value="patch">
    <label>Make:</label>
    <input type="text" name="vehicle[make]" value="<%=@vehicle.make%>">    
    <label>Model:</label>
    <input type="text" name="vehicle[model]" value="<%=@vehicle.model%>">
    <label>Year:</label>
    <input type="integer" name="vehicle[year]" value="<%=@vehicle.year%>">
    <label>Price:</label>
    <input type="float" name="vehicle[price]" value="<%=@vehicle.price%>">
    <label>Mileage:</label>
    <input type="text" name="vehicle[mileage]" value="<%=@vehicle.mileage%>">
    <label>Color:</label>
    <input type="text" name="vehicle[color]" value="<%=@vehicle.color%>">
    <label>Options:</label>
    <%# <input type="text" name="vehicle[destription]" value="<%=@vehicle.destription%>">
    <%# <label>Image:</label>
    <input type="file" name="picture"><br />
    <input type=submit value="Submit"><br /> %> %>
    </form>